Package: com.mdmobashir.minicon
Name: Minicon
Version: 1.0~testing
Architecture: iphoneos-arm
Description: A theme with simple icons!
Author: Mobashir
Maintainer: MojoXD
Section: Themes
Depends: com.anemonetheming.anemone | com.spark.snowboard
