html {
	overflow-x: hidden;
	background: linear-Gradient(#83c7f5, #df7070, #c8519c);
	background-size: 700% 700%;
	width: 100%;
	height: 100%;
  scroll-behavior: smooth;

  animation: moveBackground 1.3s ease-in-out 0.2s 1 forwards;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}





#Minicon_Landing_Page___1 {
	width: auto;
}

/* Header Text Styles */
#Minicon {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	white-space: nowrap;
	text-align: center;
	font-family: oskar-inline,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 21vw;
	color: rgba(255,255,255,1);

	animation: zoomOut 1.3s ease-in-out 0.2s 1 forwards;
}
#A_new__open_source_glyph_theme {
	position: relative;
	top: 5em;
	overflow-y: hidden;
	white-space: nowrap;
	text-align: center;
	font-family: upgrade, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 3vw;
	color: rgba(255,255,255,1);

	animation: flyUp 1.3s ease-in-out 0s 1 forwards;
}

/* Down Icon Styles */

#Down {
	position: absolute;
	left: 50%;
	bottom: -200px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
	color: white;
	font-size: 10vw;

	animation: downFlyUp 1s ease-in-out 0.5s 1 forwards;
}


.downAway {
  animation: flyAway 1s ease-in-out 0s 1 forwards;
}

/* Text Styles */
p {
  
	font-family: upgrade, sans-serif;
	font-weight: 400;
}

a {
  /* background-color: linear-gradient(#e66465, #f8914b);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 0px 0px; */
  transition: all .3s;
}

a:link {
  color: white;
  font-family: upgrade, sans-serif;
	font-weight: 400;
}

a:visited {
  color: rgb(224, 224, 224);
}

a:hover {
  /* background-size: 4px 50px; */
  color: rgb(156, 156, 156);
}

a:active {
  color: rgb(59, 59, 59);
}

#love {
  text-align: center;
  color: white;
  width: 19em;
}

#lovecont {
  clear: both; 
  bottom: -223vh;
  margin-bottom: 20px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#addRepo {
  position: relative;
  bottom: -2em;
  font-size: 5vw;
  color: white;
  text-decoration: underline;
}

/* Styling main info "blob" */

.blob {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
	transform: translateX(-50%);
  bottom: -6em;
}


/* Icon Section */

.icons {
text-align: center;
margin: auto;
float: left;
max-width: 20%;
height: auto;
}

#iconContainer {
  position: absolute;
  bottom: -64vh;
  right: 50%;
  -webkit-transform: translateX(50%);
	transform: translateX(50%); 
  width: 68vw;
  height: auto;
  max-height: 70vw;
}

.iconList {
  display: inline-block;
  list-style-type: none;
  
}

/* About Section */

#about1 {
  position: absolute;
  text-align: center;
  bottom: -90vh;
  width: 67vw;
  max-height: 60vw;
  min-width: 20vw;
  right: 50%;
  -webkit-transform: translateX(50%);
	transform: translateX(50%);
  color: white;
  font-size: 1.4rem;
  margin-top: 30%;
}

/* Designer Section */

#designedBy {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
	transform: translateX(50%);
  bottom: -95em;
  color: white;
}

#designerText {
  color: white;
  text-align: center;
  font-size: 1.7rem;
  width: 60vw;
}

#designerInfoContainer {
  position: relative;
  bottom: -4em; 
  
}


.featDesHeader {
  font-size: 1.5em;
}

.featDesignItems {
  margin-bottom: 1em;
}

/* Contrubute */

#contribute1 {
  font-family: upgrade, sans-serif;
	font-weight: 400;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 3em;
  font-size: 3vw;
}


/* Fixing Positioning on Smaller Devices */

@media (max-width: 700px) {
    #iconContainer {
      position: absolute;
      bottom: -23vh;
      right: 50%;
      -webkit-transform: translateX(50%);
  	  transform: translateX(50%); 
      width: 83vw;
      height: auto;
      max-height: 70vw;
    }

    .icons {
      text-align: center;
      margin: auto;
      float: left;
      max-width: 20%;
      height: auto;
    }

    #about1 {
      position: absolute;
      text-align: center;
      bottom: -54vh;
      width: 77vw;
      max-height: 60vw;
      min-width: 20vw;
      right: 50%;
      -webkit-transform: translateX(50%);
    	transform: translateX(50%);
      color: white;
      font-size: 4vw;
      margin-top: 30%;
    }

    #designedBy {
      position: absolute;
      right: 50%;
      -webkit-transform: translateX(50%);
  	  transform: translateX(50%);
      bottom: -183vh;
    }

    #designerText {
      color: white;
      text-align: center;
      font-size: 1.4rem;
      width: 60vw;
    }

    #lovecont {
      clear: both; 
      bottom: -260vh;
      margin-bottom: 20px;
      display: block;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
    }

    #contribute1 {
      font-family: upgrade, sans-serif;
	    font-weight: 400;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-top: 3em;
      font-size: 6vw;
    }
}

@media only screen and (max-height: 520px) {

    #designedBy {
      position: absolute;
      right: 50%;
      -webkit-transform: translateX(50%);
  	  transform: translateX(50%);
      bottom: -260vh;
    }

    #lovecont {
      clear: both; 
      bottom: -960vh;
      margin-bottom: 20px;
      display: block;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
    }
}
/* Animation on pageload */

/* Subtitle flyup */
@keyframes flyUp {
	0% {
		transform: translateY(1000%);
		opacity: 0;
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

/* Down arrow flyup */
@keyframes downFlyUp {
	0% {
		bottom: -200px;
		opacity: 0.3;
	}

	100% {
		bottom: 5px;
		opacity: 1;
	}
}

/* Minicon Zoomout */
@keyframes zoomOut {
	0% {
		font-size: 21vw;
	}

	100% {
		font-size: 16vw;
	}
}

/* Move background */
@keyframes moveBackground {
	0% {
		background-position-y: 0%;
	}

	100% {
		background-position-y: 40%;
	}
}

/* Down Button Flyaway */
@keyframes flyAway {
	0% {
		transform: translateY(0%);
	}

  10% {
    transform: translateY(7%);
  }

	100% {
		transform: translateY(-200%);
	}
}
